@import url("https://fonts.googleapis.com/css?family=Roboto");
/* function and mixin */
@keyframes dash {
  to {
    stroke-dashoffset: -1000; } }
/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* colorset */
/* setting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none; }

html {
  height: 100%;
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

body {
  height: 100%;
  min-height: 100%;
  background-color: #e4e9f2;
  background-image: -moz-linear-gradient(#e4e9f2, #FFF);
  background-image: -webkit-linear-gradient(#e4e9f2, #FFF);
  background-image: -o-linear-gradient(#e4e9f2, #FFF);
  background-image: inear-gradient(#e4e9f2, #FFF);
  color: #5b637d;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  cursor: default; }
  body.page-third {
    display: table;
    width: 100%;
    height: 100%; }
  body a, body button, body input, body select {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  body a {
    color: #3B4051;
    font-weight: 500;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body strong {
    font-weight: 600; }
  body form {
    margin: 0; }
  body button {
    outline: none; }

div.page-third {
  display: table-cell;
  background: #3B4051;
  vertical-align: middle;
  text-align: center; }
  div.page-third > footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
    background: #353948;
    font-size: 13px;
    line-height: 48px;
    text-align: left; }
    div.page-third > footer > a {
      margin-right: 16px;
      color: #848791; }
    div.page-third > footer h6 {
      float: right;
      color: #848791;
      font-size: 13px; }
      div.page-third > footer h6 a {
        color: #FFF;
        font-weight: 600; }

.pane {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  background: #FFF;
  border-radius: 9px;
  box-shadow: 0 4px 18px #353a49; }
  .pane .pane-header {
    padding: 64px 0 32px; }
    .pane .pane-header h1 {
      margin: 0; }
      .pane .pane-header h1 img {
        width: 120px; }
  .pane .container {
    padding: 0 40px 40px; }
  .pane .pane-footer {
    padding-bottom: 2px;
    border-top: 1px solid #f0f2f5;
    font-size: 14px;
    line-height: 48px; }
    .pane .pane-footer a {
      color: #3AC6AA;
      font-weight: 600; }

.btn {
  margin: 2px;
  padding: 0 18px 1px;
  border-bottom: 1px solid #37bca2;
  background: #3AC6AA;
  color: #FFF;
  font-weight: 600;
  font-size: 13px;
  line-height: 31px;
  border-radius: 3px;
  text-shadow: 0 1px #34b299;
  box-shadow: 0 1px 1px #dddee1;
  outline: none; }
  .btn:enabled:hover {
    z-index: 1;
    background: #52cdb4; }
  .btn:enabled:active {
    border-bottom: 1px solid #288b77;
    background: #2e9f88;
    text-shadow: 0 -1px #31a891; }
  .btn .fa {
    margin-right: 8px; }
  .btn.block {
    position: relative;
    display: block;
    margin: 8px auto;
    width: 100%;
    font-size: 16px;
    line-height: 46px;
    border-radius: 4px; }
    .btn.block .fa {
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px; }
    .btn.block .fa-caret-right {
      left: inherit;
      right: 12px;
      margin-top: -6px;
      font-size: 12px; }
  .btn:disabled {
    border-bottom: 1px solid #889dbd;
    background: #8fa5c7;
    text-shadow: 0 -1px #8195b3;
    opacity: 0.5;
    cursor: not-allowed; }
  .btn-clear {
    padding: 0 12px;
    height: 32px;
    border: 2px solid #3AC6AA;
    background: #FFF;
    line-height: 30px;
    border-radius: 3px; }
  .btn-text {
    background: transparent;
    color: #4f5362;
    font-size: 13px; }
    .btn-text:hover, .btn-text:active {
      color: #3B4051;
      text-decoration: underline; }
    .btn-text .fa {
      margin: 0 6px; }
  .btn.btn-red {
    border-bottom: 1px solid #dc3c31;
    background: #F44336;
    text-shadow: 0 1px #dc3c31; }
    .btn.btn-red:enabled:hover {
      z-index: 1;
      background: #f65e53; }
    .btn.btn-red:enabled:active {
      border-bottom: 1px solid #d2190b;
      background: #ea1c0d;
      text-shadow: 0 -1px #cf392e; }

.app-wrap {
  min-width: 1280px;
  min-height: 100%; }

.app-header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background: #16171b;
  text-align: center;
  box-shadow: 1px 0 24px rgba(0, 0, 0, 0.15); }
  .app-header:before, .app-header:after {
    content: " ";
    display: table; }
  .app-header:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden; }
  .app-header {
    *zoom: 1; }
  .app-header h1 {
    padding: 24px 0; }
    .app-header h1 img {
      margin: 0 auto;
      width: 48px; }
  .app-header nav {
    clear: both;
    font-size: 13px; }
    .app-header nav a {
      display: block;
      padding: 24px 0;
      color: #767985; }
      .app-header nav a:hover {
        color: #FFF;
        text-decoration: none; }
      .app-header nav a .fa {
        display: block;
        margin-bottom: 8px;
        font-size: 24px; }
    .app-header nav li {
      margin: 0; }
      .app-header nav li.is-current {
        position: relative; }
        .app-header nav li.is-current a {
          background: #3d4253;
          color: #FFF;
          font-weight: 600;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
        .app-header nav li.is-current a:after {
          content: "";
          position: absolute;
          right: -6px;
          top: 0;
          width: 6px;
          height: 100%;
          background: #3AC6AA; }

.app-topper {
  position: relative;
  box-sizing: border-box;
  padding-left: 100px;
  height: 60px;
  background: #FFF;
  line-height: 60px;
  box-shadow: 0 1px 24px #dddee1; }
  .app-topper .search-box {
    position: relative;
    padding-left: 32px;
    max-width: 320px; }
    .app-topper .search-box .fa-search {
      position: absolute;
      left: 44px;
      top: 50%;
      margin-top: -9px;
      font-size: 16px;
      color: #8d92a3; }
    .app-topper .search-box input[type=text] {
      text-indent: 38px;
      font-size: 14px; }
  .app-topper .account-box {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right; }
    .app-topper .account-box .account-name {
      float: right;
      padding: 0 12px 0 24px;
      overflow: hidden; }
      .app-topper .account-box .account-name img {
        margin-right: 12px;
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden; }
      .app-topper .account-box .account-name .fa-caret-down {
        opacity: .25; }
      .app-topper .account-box .account-name:hover {
        text-decoration: none;
        background: #f6f8fb; }
        .app-topper .account-box .account-name:hover .fa-caret-down {
          color: #4f5362;
          opacity: .5; }
    .app-topper .account-box .account-nav {
      display: none;
      z-index: 1;
      position: fixed;
      right: 12px;
      top: 72px;
      width: 210px;
      background: #FFF;
      text-align: left;
      border-radius: 9px;
      box-shadow: 0 1px 24px rgba(79, 83, 98, 0.15);
      overflow: hidden; }
      .app-topper .account-box .account-nav .account-info {
        padding-bottom: 24px;
        line-height: 24px;
        text-align: center; }
        .app-topper .account-box .account-nav .account-info img {
          display: block;
          margin: 24px auto 12px;
          width: 60px;
          border-radius: 50%; }
        .app-topper .account-box .account-nav .account-info strong {
          display: block;
          color: #3B4051;
          font-weight: 500;
          font-size: 15px; }
        .app-topper .account-box .account-nav .account-info em {
          display: block;
          color: #696d7a;
          font-weight: 400;
          font-style: normal;
          font-size: 12px; }
      .app-topper .account-box .account-nav ul {
        margin: 0; }
        .app-topper .account-box .account-nav ul li {
          margin: 0; }
      .app-topper .account-box .account-nav li > a {
        position: relative;
        display: block;
        padding-left: 48px;
        border-top: 1px solid #f6f7fa;
        line-height: 44px; }
      .app-topper .account-box .account-nav .fa {
        position: absolute;
        left: 24px;
        top: 50%;
        margin-top: -8px;
        margin-right: 12px;
        opacity: .75; }

.app-container {
  position: relative;
  box-sizing: border-box;
  margin-left: 100px;
  padding: 20px 20px 64px;
  max-width: 100%;
  height: 100%;
  overflow: hidden; }

.project-box {
  float: left;
  width: 65%;
  overflow: hidden; }

.project-item {
  float: left;
  width: 50%; }
  .project-item .project-inner {
    margin: 12px;
    background: #FFF;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba(79, 83, 98, 0.15);
    overflow: hidden; }
  .project-item .project-header {
    position: relative;
    padding: 16px 20px;
    line-height: 22px; }
    .project-item .project-header .btn-project-qsetting {
      position: absolute;
      right: 0;
      top: 0; }
    .project-item .project-header a {
      display: block;
      padding-left: 28px;
      color: #3B4051;
      font-size: 15px; }
      .project-item .project-header a .fa-github {
        position: absolute;
        left: 20px;
        top: 17px;
        width: 20px;
        color: #8d92a3;
        font-size: 20px; }
      .project-item .project-header a strong {
        font-weight: 500;
        white-space: nowrap; }
    .project-item .project-header ul {
      margin: 0 0 0 28px;
      font-size: 12px; }
      .project-item .project-header ul li {
        display: inline;
        color: #7b7e89; }
      .project-item .project-header ul strong {
        color: #4f5362;
        font-weight: 400; }
  .project-item .project-status {
    position: relative;
    height: 150px;
    line-height: 150px;
    text-align: center;
    overflow: hidden; }
    .project-item .project-status.status-pass {
      background: #3AC6AA; }
    .project-item .project-status.status-fail {
      background: #F44336 url("../img/status-fail.svg") repeat-x center; }
      .project-item .project-status.status-fail .status-alert {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: #F44336 url("../img/i-error.svg") no-repeat center;
        background-size: 8%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); }
    .project-item .project-status.status-pause {
      background: #4f5362 url("../img/status-pause.svg") repeat-x center; }
      .project-item .project-status.status-pause .status-alert {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: #4f5362 url("../img/i-pause.svg") no-repeat center;
        background-size: 20%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); }
    .project-item .project-status svg {
      vertical-align: middle; }

.timeline-box {
  float: right;
  width: 35%;
  overflow: hidden; }
  .timeline-box.is-fullscreen {
    z-index: 2;
    position: relative;
    left: 0;
    top: 0;
    float: inherit;
    width: 100%; }
  .timeline-box .timeline-inner {
    margin: 12px;
    background: #FFF;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba(79, 83, 98, 0.15);
    overflow: hidden; }
  .timeline-box .timeline-header {
    position: relative;
    background: #FFF; }
    .timeline-box .timeline-header h4 {
      text-transform: uppercase;
      margin: 0;
      color: #3B4051;
      font-weight: 600;
      font-size: 12px;
      line-height: 40px;
      letter-spacing: 1px;
      text-align: center; }
    .timeline-box .timeline-header .btn-fullscreen {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      line-height: 40px; }
    .timeline-box .timeline-header .btn-setting {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      line-height: 40px; }
  .timeline-box .timeline-log {
    background: #262933;
    color: white;
    font-family: "courier new", serif;
    font-size: 13px;
    line-height: 21px; }
    .timeline-box .timeline-log ul {
      margin: 0; }
    .timeline-box .timeline-log li {
      position: relative;
      margin: 0;
      padding: 12px 16px 12px 80px; }
      .timeline-box .timeline-log li:nth-child(odd) {
        background: #1b1d25; }
      .timeline-box .timeline-log li .log-status {
        position: absolute;
        left: 16px;
        top: 12px;
        color: #7b7e89;
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden; }
      .timeline-box .timeline-log li .log-name {
        display: block;
        color: #FFF;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .timeline-box .timeline-log li .log-desc {
        display: block;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .timeline-box .timeline-log li.status-fail {
        background: #F44336; }
        .timeline-box .timeline-log li.status-fail:hover {
          box-shadow: 0 0 24px rgba(244, 67, 54, 0.75); }
        .timeline-box .timeline-log li.status-fail .log-status {
          color: #FFF; }
      .timeline-box .timeline-log li.status-ing .log-status {
        animation: typing 3.5s infinite;
        color: #FFF; }

.app-footer {
  position: relative;
  box-sizing: border-box;
  padding: 0 32px 0 152px;
  width: 100%;
  height: 44px;
  border-top: 1px solid #e9ebee;
  background: #FFF;
  font-size: 13px;
  line-height: 44px; }
  .app-footer a {
    color: #848791; }
    .app-footer a ~ a {
      margin-left: 16px; }
    .app-footer a:hover {
      color: #4f5362; }
  .app-footer .copyright {
    float: right;
    margin: 0;
    color: #848791;
    font-size: 13px;
    line-height: 44px;
    text-align: right; }
    .app-footer .copyright a {
      color: #4f5362;
      font-weight: 600; }
  .app-footer.fixed {
    position: fixed;
    left: 0;
    bottom: 0; }

.blind {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 64, 81, 0.75); }

.layer {
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 120px;
  margin-left: -240px;
  width: 480px;
  background: #FFF;
  border-radius: 9px;
  box-shadow: 0 0 24px rgba(59, 64, 81, 0.5); }
  .layer .layer-header h4 {
    padding: 2px 24px 0;
    border-bottom: 1px solid #e1e3e6;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px; }
  .layer .layer-content {
    max-height: 540px;
    background-color: #e4e9f2;
    background-image: -moz-linear-gradient(#e4e9f2, #FFF);
    background-image: -webkit-linear-gradient(#e4e9f2, #FFF);
    background-image: -o-linear-gradient(#e4e9f2, #FFF);
    background-image: inear-gradient(#e4e9f2, #FFF);
    padding: 24px;
    overflow-y: auto; }
  .layer .welcome {
    display: block;
    padding: 24px 0;
    color: #4f5362;
    text-align: center; }
    .layer .welcome img {
      margin: 32px auto 0;
      display: block;
      width: 80px;
      border-radius: 50%; }
    .layer .welcome .account-name {
      display: block;
      padding: 12px 0;
      color: #3B4051;
      font-size: 15px; }
      .layer .welcome .account-name .fa {
        margin-right: 6px; }
    .layer .welcome strong {
      display: block;
      padding: 0 0 8px;
      color: #3B4051;
      font-weight: 300;
      font-size: 24px; }
    .layer .welcome p {
      color: #7f8498;
      font-size: 15px;
      line-height: 21px; }
  .layer .layer-footer {
    padding: 0 24px 2px;
    border-top: 1px solid #e9ebee;
    line-height: 44px;
    text-align: right; }

.organize-box {
  float: left;
  box-sizing: border-box;
  width: 280px; }
  .organize-box .organize-inner {
    padding: 12px 24px 12px 12px; }
  .organize-box li {
    position: relative;
    margin: 28px 0 40px;
    padding: 16px;
    border: 1px solid #F5F7FA;
    border-bottom-color: #d3dce9;
    background: #FFF;
    border-radius: 0 9px 9px;
    box-shadow: 0 0 12px rgba(79, 83, 98, 0.15);
    cursor: pointer;
    opacity: .6; }
    .organize-box li .label {
      position: absolute;
      left: 0;
      top: -28px;
      padding: 0 12px;
      height: 28px;
      background: #4f5362;
      color: #FFF;
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      border-radius: 3px 3px 0 0;
      overflow: hidden; }
      .organize-box li .label .fa {
        margin-right: 6px;
        font-size: 14px; }
    .organize-box li img {
      margin-right: 12px;
      vertical-align: middle;
      border-radius: 50%; }
    .organize-box li strong {
      color: #3B4051;
      font-weight: 400; }
    .organize-box li.is-select {
      opacity: 1; }
      .organize-box li.is-select .label {
        background: #3AC6AA; }

.repository-box {
  margin: 12px;
  border: 1px solid #e9ebee;
  border-bottom: none;
  border-radius: 9px;
  box-shadow: 0 1px 12px rgba(79, 83, 98, 0.15);
  overflow: hidden; }
  .repository-box li {
    position: relative;
    border-bottom: 1px solid #e9ebee;
    background: #FFF; }
    .repository-box li:hover {
      background: #F5F7FA; }
    .repository-box li a {
      display: inline-block;
      padding: 16px 20px; }
      .repository-box li a strong {
        font-weight: 400; }
      .repository-box li a .fa {
        margin-left: 6px; }
      .repository-box li a:hover {
        text-decoration: none; }
    .repository-box li .btn {
      position: absolute;
      right: 20px;
      top: 50%;
      margin: -16px 0 0;
      width: 160px; }

.status-svg {
  stroke-dasharray: 10;
  animation: dash 20s linear infinite; }

.container {
  max-width: inherit; }

.layer,
.status-fail {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.ibtn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  color: #d3d4d8;
  font-size: 16px;
  line-height: 38px;
  text-align: center; }
  .ibtn span {
    display: none; }
  .ibtn:hover, .ibtn:active, .ibtn:visited, .ibtn:focus {
    background: transparent !important;
    color: #4f5362; }

input[type=text] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border: 1px solid transparent;
  background: #F5F7FA;
  line-height: 32px;
  vertical-align: middle;
  border-radius: 6px;
  outline: none; }
  input[type=text]:hover, input[type=text]:focus {
    border-color: #e9ebee; }
  input[type=text]:focus {
    border-color: #dddee1;
    box-shadow: 0 1px 2px #F5F7FA; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #b8bac5;
  font-weight: 300; }

:-moz-placeholder {
  font-style: italic;
  color: #b8bac5;
  font-weight: 300; }

::-moz-placeholder {
  font-style: italic;
  color: #b8bac5;
  font-weight: 300; }

:-ms-input-placeholder {
  font-style: italic;
  color: #b8bac5;
  font-weight: 300; }

/*# sourceMappingURL=apiway.css.map */
