@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');

/* function and mixin */
@function tint($color, $percentage) {
  @return mix(#FFF, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}
@mixin gradientY($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
  background-image: inear-gradient($from, $to);
}
@mixin gradientX($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient(right, $from, $to);
  background-image: -webkit-linear-gradient(left, $from, $to);
  background-image: -o-linear-gradient(right, $from, $to);
  background-image: linear-gradient(to right, $from, $to);
}
@mixin pointGradientX {
  background: $pass-color;
  background: -webkit-linear-gradient(to right, $pass-color, $error-color);
  background: linear-gradient(to right, $pass-color, $error-color);
}
@mixin pointGradientY {
  background: $pass-color;
  background: -webkit-linear-gradient($pass-color, $error-color);
  background: linear-gradient($pass-color, $error-color);
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin clearFix(){
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  & { *zoom: 1; }
}
@mixin textClip { /* long text lendering ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin codeFont {
  font-weight: 400;
  font-family: "SF Mono Regular", "Consolas", "Monaco", "Andale Mono", courier;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}

/* css animation */
@keyframes dash {
  to { stroke-dashoffset: -1000; }
}
@keyframes draw {
  to { stroke-dashoffset: 0; }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinker {
  50% { opacity: 1; }
  75% { opacity: .4; }
  85% { opacity: 1; }
}
@keyframes animatedBG {
	from { background-position: 0 100%; }
	to { background-position: 0 0; }
}

/* color set */
$bg-color: #F0F2FA;
$point-color: #9E79DF;
$dark-color: #5E6C8C;
$font-color: darken($dark-color, 5%);
$font-sub-color: tint($dark-color, 25%);
$black-color: darken($dark-color, 25%);
$fa-color: tint($font-color, 75%);
$deco-color: rgba(#FFF, .4);
$blind-color: rgba(#000, .15);
$error-color: #C858E2;
$pass-color: #2657EB;
$canvas-color: #FFF;
$white-color: #FFF;
$base-hover-color: lighten($bg-color, 2%);

/* setting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
html {
  height: 100%;
  font-family: "Maven Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
body {
  height: 100%;
  min-height: 100%;
  background: $bg-color;
  color: $font-color;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  &.page-third {
    display: table;
    width: 100%;
    height: 100%;
  }
  a, a:after, button, input, select {
    cursor: pointer;
    @include transition(all .2s ease);
  }
  a {
    color: $black-color;
    font-weight: 400;
    text-decoration: none;
    .fa {
      color: $fa-color;
      @include transition(all .2s ease);
    }
    &:hover {
      text-decoration: underline;
      .fa {
        color: $font-color;
      }
    }
  }
  strong {
    font-weight: 500;
  }
  form {
    margin: 0;
  }
  button {
    outline: none;
  }
  code {
    @include codeFont;
  }
  li {
    @include transition(all .5s ease-in-out);
  }
}

div.page-third {
  display: table-cell;
  @include pointGradientX();
  vertical-align: middle;
  text-align: center;
  > footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
    background: $blind-color;
    font-size: 12px;
    line-height: 48px;
    text-align: left;
    > a {
      margin-right: 16px;
      color: $deco-color;
    }
    h6 {
      float: right;
      color: $deco-color;
      font-weight: 500;
      font-size: 13px;
      a {
        color: $white-color;
        font-weight: 500;
      }
    }
    a:hover {
      color: $white-color;
      text-decoration: none;
    }
  }
}

.pane {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  background: $white-color;
  border-radius: 9px;
  box-shadow: 0 4px 18px shade($dark-color, 10%);
  overflow: hidden;
  .pane-header {
      padding: 64px 0 32px;
      h1 {
        margin: 0;
        img {
          width: 120px;
        }
      }
  }
  .container {
    padding: 0 40px 40px;
  }
  .pane-footer {
    padding-bottom: 2px;
    border-top: 1px solid shade($bg-color, 2%);
    background: $base-hover-color;
    font-size: 14px;
    line-height: 48px;
    a {
      color: $black-color;
      font-weight: 500;
    }
  }
}

.app-wrap {
  min-width: 1280px;
  min-height: 100%;
}

.app-header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 90px;
  height: 100%;
  background: $black-color;
  text-align: center;
  box-shadow: 1px 0 24px rgba(0,0,0,.15);
  @include clearFix();
  h1 {
    padding: 24px 0;
    img {
    margin: 0 auto;
    width: 48px;
    }
  }
  nav {
    clear: both;
    font-size: 11px;
    a {
      display: block;
      padding: 24px 0;
      color: tint($dark-color, 30%);
      font-weight: 500;
      .fa {
        display: block;
        margin-bottom: 8px;
        color: tint($dark-color, 30%);
        font-size: 24px;
      }
      &:hover {
        color: $white-color;
        text-decoration: none;
        .fa {
          color: $white-color;
        }
      }
    }
    li {
      margin: 0;
      &.is-current {
        position: relative;
        a {
          background: darken($black-color, 8%);
          color: $white-color;
          box-shadow: 0 0 12px rgba(0,0,0,.15);
          .fa {
            color: $white-color;
          }
        }
        a:after {
          content: "";
          position: absolute;
          right: -7px;
          top: 0;
          width: 7px;
          height: 100%;
          @include pointGradientY();
          border-radius: 0 3px 3px 0;
          box-shadow: inset 0 0 1px shade($point-color, 25%), -1px 0 12px rgba($pass-color, .75);
        }
      }
    }
    .snb {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left;
      a {
        padding: 0 0 0 18px;
        border-top: 1px solid lighten($black-color, 2%);
        background: darken($black-color, 2%);
        line-height: 44px;
        &:hover {
          background: darken($black-color, 6%);
        }
      }
      .fa {
        display: inline-block;
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }
}

.app-topper {
  z-index: 5;
  position: fixed;
  box-sizing: border-box;
  padding-left: 90px;
  width: 100%;
  height: 54px;
  background: $canvas-color;
  line-height: 52px;
  box-shadow: 0 1px 24px shade($bg-color, 10%);
  .search-box {
    position: relative;
    padding-left: 18px;
    max-width: 320px;
  }
  .account-box {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    .account-name {
      float: right;
      padding: 0 12px 2px 24px;
      line-height: 52px;
      overflow: hidden;
      img {
        margin-right: 12px;
        width: 36px;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden;
      }
      &:hover {
        text-decoration: none;
        background: $base-hover-color;
        .fa-caret-down {
          color: $dark-color;
          opacity: .5;
        }
      }
    }
    .account-nav {
      display: none;
      z-index: 1;
      position: fixed;
      right: 12px;
      top: 66px;
      width: 240px;
      background: $canvas-color;
      text-align: left;
      border-radius: 9px;
      box-shadow: 0 1px 24px rgba($dark-color, .25);
      overflow: hidden;
      .account-info {
        padding-bottom: 24px;
        line-height: 24px;
        text-align: center;
        img {
          display: block;
          margin: 32px auto 12px;
          width: 60px;
          border-radius: 50%;
        }
        strong {
          display: block;
          color: $black-color;
          font-size: 14px;
        }
        em {
          display: block;
          color: tint($dark-color, 15%);
          font-style: normal;
          font-size: 12px;
        }
      }
      a {
        position: relative;
        display: block;
        padding-left: 48px;
        height: 44px;
        border-top: 1px solid tint($bg-color, 5%);
        line-height: 42px;
        .fa {
          position: absolute;
          left: 20px;
          top: 50%;
          margin-top: -8px;
          margin-right: 12px;
          color: $fa-color;
        }
        &:hover {
          text-decoration: none;
          background: $base-hover-color;
          .fa {
            color: $font-color;
          }
        }
      }
    }
  }
}

.app-container {
  position: relative;
  box-sizing: border-box;
  margin-left: 90px;
  padding: 54px 0 64px;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-box {
  float: left;
  width: 60%;
  overflow: hidden;
  &.is-hide {
    width: 0;
  }
}
.project-item {
  float: left;
  width: 50%;
  text-align: left;
  .project-inner {
    margin: 18px 0 0 18px;
    background: $canvas-color;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba($dark-color, .15);
  }
  .project-header {
    position: relative;
    padding: 14px 18px;
    line-height: 21px;
    .btn-project-qsetting {
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      display: block;
      padding-left: 24px;
      color: $black-color;
      font-size: 14px;
      @include textClip;
      .fa-github {
        position: absolute;
        left: 18px;
        top: 16px;
        width: 20px;
        font-size: 18px;
      }
    }
    ul {
      margin: 0 0 0 24px;
      font-size: 12px;
      li {
        display: inline;
      }
      strong {
        color: $dark-color;
      }
    }
  }
  .project-status {
    position: relative;
    height: 120px;
    line-height: 120px;
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    &.status-pass {
      background: $pass-color url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 479 102">
        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity=".2">
          <path d="M0,50 84 50 94 20 114 90 134 0 154 100 174 10 194 80 204 50 317 50 328 20 348 90 368 0 388 100 408 10 428 80 438 50 551 50"/>
        </g>
      </svg>') no-repeat center;
      background-size: 100% 100px;
    }
    &.status-fail {
      background: $error-color url('../img/status-fail.svg') repeat-x center;
      .status-alert {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: $error-color url('../img/i-error.svg') no-repeat center;
        background-size: 8%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0,0,0,.25);
      }
    }
    &.status-pause {
      background: $dark-color url('../img/status-pause.svg') repeat-x center;
      .status-alert {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: $dark-color url('../img/i-pause.svg') no-repeat center;
        background-size: 20%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0,0,0,.25);
      }
    }
    svg {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -50px;
    }
  }
}

.timeline-box {
  float: right;
  width: 40%;
  overflow: hidden;
  &.is-fullscreen {
    width: 100%;
  }
  .timeline-inner {
    margin: 18px;
    background: $canvas-color;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba($dark-color, .15);
  }
  .timeline-header {
    position: relative;
    border-radius: 8px;
    h4 {
      text-transform: uppercase;
      margin: 0;
      color: $dark-color;
      font-weight: 500;
      font-size: 13px;
      line-height: 40px;
      text-align: center;
    }
    .btn-fullscreen {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      line-height: 40px;
    }
    .btn-setting {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      line-height: 40px;
    }
  }
  .timeline-log {
    background: darken($dark-color, 10%);
    color: lighten($white-color, 30%);
    @include codeFont;
    font-size: 13px;
    line-height: 21px;
    border-radius: 0 0 8px 8px;
    ul {
      margin: 0;
    }
    li {
      position: relative;
      margin: 0;
      padding: 12px 16px 12px 80px;
      &:nth-child(odd) {
        background: darken($dark-color, 15%);
      }
      &:last-child {
        border-radius: 0 0 8px 8px;
      }
      .log-status {
        position: absolute;
        left: 16px;
        top: 12px;
        color: tint($dark-color, 25%);
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
      }
      .log-name {
        display: block;
        color: $white-color;
        font-weight: 600;
        @include textClip;
      }
      .log-desc {
        display: block;
        color: rgba(255,255,255,.75);
        @include textClip;
      }
      &.status-fail {
        background: $error-color;
        box-shadow: 0 0 24px rgba($error-color, .75);
        .log-status {
          color: $white-color;
        }
      }
      &.status-ing {
        .log-status {
          animation: typing 3.5s infinite;
          color: $white-color;
        }
      }
    }
  }
}

.app-footer {
  position: relative;
  box-sizing: border-box;
  padding: 0 24px 0 114px;
  width: 100%;
  height: 44px;
  border-top: 1px solid shade($bg-color, 5%);
  background: $canvas-color;
  font-size: 11px;
  line-height: 44px;
  a {
    color: tint($dark-color, 30%);
    & ~ a {
      margin-left: 16px;
    }
    &:hover {
      color: $dark-color;
    }
  }
  .copyright {
    float: right;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 44px;
    text-align: right;
    a {
      color: $dark-color;
      font-weight: 500;
    }
  }
  &.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

.blind {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($dark-color, .75);
}
.layer {
  z-index: 5;
  position: fixed;
  background: $canvas-color;
  border-radius: 9px;
  box-shadow: 0 0 24px rgba($dark-color, .5);
  .layer-header h4 {
    padding: 2px 24px 0;
    border-bottom: 1px solid shade($bg-color, 8%);
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
  }
  .layer-content {
    max-height: 540px;
    @include gradientY($bg-color, tint($bg-color, 10%));
    padding: 24px;
    overflow-y: auto;
  }
  .welcome {
    display: block;
    padding: 24px 0;
    color: $dark-color;
    text-align: center;
    img {
      margin: 32px auto 0;
      display: block;
      width: 80px;
      border-radius: 50%;
    }
    .account-name {
      display: block;
      padding: 12px 0;
      color: $dark-color;
      font-size: 15px;
      .fa {
        margin-right: 6px;
      }
    }
    strong {
      display: block;
      padding: 0 0 8px;
      color: $dark-color;
      font-weight: 300;
      font-size: 24px;
    }
    p {
      color: lighten($dark-color, 20%);
      font-size: 15px;
      line-height: 21px;
    }
  }
  .layer-footer {
    padding: 0 24px 2px;
    border-top: 1px solid shade($bg-color, 5%);
    line-height: 44px;
    text-align: right;
  }
  &.layer-welcome {
    left: 50%;
    top: 120px;
    margin-left: -240px;
    width: 480px;
  }
}

.organize-box {
  float: left;
  box-sizing: border-box;
  width: 25%;
  .organize-inner {
    padding: 18px 0 0 18px;
  }
  li {
    position: relative;
    margin: 28px 0 40px;
    padding: 16px;
    border: 1px solid $bg-color;
    border-bottom-color: darken($bg-color, 10%);
    background: $canvas-color;
    border-radius: 0 9px 9px;
    box-shadow: 0 0 12px rgba($dark-color, .15);
    cursor: pointer;
    opacity: .6;
    .label {
      position: absolute;
      left: 0;
      top: -28px;
      padding: 0 12px;
      height: 28px;
      background: $dark-color;
      color: $white-color;
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      border-radius: 3px 3px 0 0;
      overflow: hidden;
      .fa {
        margin-right: 6px;
        font-size: 14px;
      }
    }
    img {
      margin-right: 12px;
      vertical-align: middle;
      border-radius: 50%;
    }
    strong {
      color: $dark-color;
      font-weight: 400;
    }
    &.is-select {
      opacity: 1;
      .label {
        background: $point-color;
      }
    }
  }
}

.repository-box {
  float: left;
  box-sizing: border-box;
  width: 75%;
  padding: 18px;
}
.repository-list {
  margin-top: 12px;
  border: 1px solid shade($bg-color, 5%);
  border-bottom: none;
  border-radius: 9px;
  box-shadow: 0 1px 12px rgba($dark-color, .15);
  overflow: hidden;
  li {
    position: relative;
    border-bottom: 1px solid shade($bg-color, 5%);
    background: $canvas-color;
    &:hover {
      background: $base-hover-color;
    }
    a {
      display: inline-block;
      padding: 16px 20px;
      color: $dark-color;
      strong {
        font-weight: 500;
      }
      .fa {
        margin-left: 6px;
      }
      &:hover {
        color: $black-color;
        text-decoration: none;
        strong {
          text-decoration: underline;
        }
      }
    }
    .btn {
      position: absolute;
      right: 18px;
      top: 50%;
      margin: -16px 0 0;
      width: 140px;
    }
  }
}

.aside-box {
  float: left;
  box-sizing: border-box;
  padding-left: 18px;
  width: 30%;
}

.status-svg {
  stroke-dasharray: 750;
  stroke-dashoffset: 1500;
  animation: draw 5s ease-in infinite;
}

.container {
  max-width: inherit;
}

.layer,
.status-fail,
.project-box,
.project-item,
.project-inner,
.timeline-box {
  @include transition(all .5s ease-in-out);
}

.wow {
  visibility: hidden;
}

@import "page.scss";
@import "build.scss";
@import "report.scss";
@import "form.scss";
