<!-- responsive gnb toggle button-->
<div class="title-bar" data-responsive-toggle="app-gnb" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="app-gnb"></button>
  <div class="title-bar-title">Menu</div>
</div>

<!-- gnb -->
<nav id="app-gnb">
  <ul class="vertical menu">
    <li class="menu-text">apiway</li>
    <li class="active">
      <a href="./index.html">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-lightning"></use></svg>
        <span>Monitoring</span>
      </a>
    </li>
    <li>
      <a href="./builds.html">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-folder-open"></use></svg>
        <span>Builds</span>
      </a>
    </li>
    <li>
      <a href="./projects.html">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-portfolio"></use></svg>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a href="reports.html">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-file"></use></svg>
        <span>Reports</span>
      </a>
    </li>
  </ul>
  <ul class="vertical menu">
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-book"></use></svg>
        <span>Docs</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-msg"></use></svg>
        <span>Help</span>
      </a>
    </li>
  </ul>
</nav>
