<!-- responsive gnb toggle button-->
<div class="title-bar" data-responsive-toggle="app-gnb" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<!-- gnb -->
<div id="app-gnb" data-animate="slide-in-right">
  <ul class="vertical menu">
    <li class="menu-text">apiway</li>
    <li class="active">
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-lightning"></use></svg>
        Monitoring
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-folder-open"></use></svg>
        Builds
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-portfolio"></use></svg>
        Projects
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-file"></use></svg>
        Reports
      </a>
    </li>
  </ul>
  <ul class="vertical menu">
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-book"></use></svg>
        Docs
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-msg"></use></svg>
        Help
      </a>
    </li>
  </ul>
</div>
