<!-- Top Bar (Search form, Account nav, Notification, Setting) -->
<div class="top-bar" id="app-topbar">
  <div class="top-bar-left">
    <form>
      <input class="input-group-field" type="text" placeholder="search...">
      <input type="submit" hidden="true">
    </form>
  </div>
  <div class="top-bar-right">
    <ul class="menu dropdown" data-dropdown-menu>
      <li class="menu-text">
        <strong>bluehackr</strong>
        <ul class="menu vertical">
          <li class="menu-text">
            <div class="avatar"><img src="assets/img/avatar.png" alt="avatar"></div>
            <span class="label primary">basic</span>
            <strong>bluehackr</strong>
            <em>r@bluehack.net</em>
          </li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-bell"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="si"><use xlink:href="assets/img/bytesize-symbols.svg#i-settings"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</div>
